@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

body{
  /*font-family:Arial,verdana,serif; */
  font-family: 'Open Sans', sans-serif;
  font-size:0.875em; /* 14px/16=0.875em */
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.submitbutton{
  margin-left: 0.5em;
  height: 2.1em;
  padding: 0.2em 1em 0.2em 2.25em;
  font-size: 2em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 54px 204px;
  border-radius: 2em;
  border: 0.15em solid #F9C23C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.submitbutton:hover {
    color: #fff;
    background-color: #EAA502;
    border-color: #EAA502;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.submitbutton:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 